<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>join</title>
</head>
<body>
    <h1>join </h1>
    <section class="messages"><%= message %></section>
    <form action="/join" method="post">
        email: <input type="text" name="email"><br>
        name: <input type="name" name="name"><br>
        pw: <input type="password" name="pw"><br>
        <input type="submit" value="ok">
    </form>
</body>
</html>

