<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>안녕</h1>
    <img src="images/커플3.jpg" alt="">
    <h3>welcome <%= id%>번째 고객님</h3>
    <div><a href="/logout">logout</a></div>
</body>
</html>